@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

@font-face {
  font-family: "SourceHanSans-Bold";
  src: url("font/SourceHanSans-Bold.eot?") format('eot'),
       url("font/SourceHanSans-Bold.woff") format('woff'),
       url("font/SourceHanSans-Bold.otf")  format('opentype');
}
@font-face {
  font-family: "SourceHanSans-Medium";
  src: url("font/SourceHanSans-Medium.eot?") format('eot'),
       url("font/SourceHanSans-Medium.woff") format('woff'),
       url("font/SourceHanSans-Medium.otf")  format('opentype');
}
@font-face {
  font-family: "SourceHanSans-Regular";
  src: url("font/SourceHanSans-Regular.eot?") format('eot'),
       url("font/SourceHanSans-Regular.woff") format('woff'),
       url("font/SourceHanSans-Regular.otf")  format('opentype');
}
