/* タブ edge対策 */
@media screen and(min-width: 768px) {
	.page_calendar .main_tabs li:last-child {
		float: right
	}
}
.page_calendar .tab_count_2 li {
	width: calc((100% - 14px * 1 - 1px) / 2);
	margin-right: 14px
}
.page_calendar .tab_count_3 li {
	width: calc((100% - 14px * 2 - 1px) / 3);
	margin-right: 14px
}
.page_calendar .tab_count_4 li {
	width: calc((100% - 14px * 3 - 1px) / 4);
	margin-right: 14px
}
.page_calendar .tab_count_5 li {
	width: calc((100% - 14px * 4 - 1px) / 5);
	margin-right: 14px
}
.page_calendar .tab_count_6 li {
	width: calc((100% - 14px * 5 - 1px) / 6);
	margin-right: 14px
}
.page_calendar .tab_count_7 li {
	width: calc((100% - 14px * 6 - 1px) / 7);
	margin-right: 14px
}

/*モーダル修正 追加*/
.fancybox-wrap {
	opacity: 0!important;
}
.fancybox-wrap.fancybox-opened {
	opacity: 1!important;
	transition: opacity 0.5s 0.5s;
}
.modalNews {
	display: inline-block;
	padding: 30px 40px;
	box-sizing: border-box;
	width: auto;
	max-width: 910px;
	min-width: 520px;
	/*white-space: nowrap;*/
}
@media screen and (max-width: 767px) {
	.modalNews {
		display: block;
		width: 83vw;
		min-width: inherit;
		padding: 15px 7px;
		white-space: inherit;
	}
}

/* snsLinks */
div.snsLinks li a.line{background:#00b833}
div.snsLinks li a.line:hover{background:#00b833}
div.snsLinks li a.line span{padding-left:26px;background:url('../images/common/icn-line.png?1519272954') left center no-repeat}

@media screen and (max-width: 767px) {
	div.snsLinks li a.line{padding:7px 7px 7px 5px;background:#00b833}
	div.snsLinks li a.line:hover{background:#00b833}
	div.snsLinks li a.line span{padding-left:20px;background:url('../images/common/sp/icn-line.png?1519272956') left center no-repeat;background-size:auto 13.5px}
	}

/* 休館日の枠 */
.closedDays p{
	padding:0 20px 0 20px;
	font-size:1.2rem;
	line-height:1.7
	}

/* PCのみ */
@media screen and (max-width: 767px) {
    .pc-only { display:none; }
	}

/* SPのみ */
@media screen and (min-width: 767px) {
    .sp-only { display:none; }
	}

/*チケット購入ページ*/
ul.ticket_list_red{
	margin-bottom:0px;
	color:#990000;
	}
ul.ticket_list_red li{
  	padding-left: 1em;
  	text-indent: -1em;
  	line-height:1.8;
	margin-bottom:5px;
	}
ul.ticket_list_red li:before {
    content: "＊";
    }

/* 注意リスト */
ul.caution_list {
	margin-bottom:0px;
	}
ul.caution_list li {
  	padding-left:1em;
  	text-indent:-1em;
  	line-height:1.5;
	margin-bottom:5px;
	}
ul.caution_list li:before {
	content:"※";
	}

/* 注意リスト赤字 */
ul.caution_list_red {
	margin-bottom:0px;
	color:#cc0000;
	}
ul.caution_list_red li {
  	padding-left:1em;
  	text-indent:-1em;
  	line-height:1.5em;
	margin-bottom:5px;
	}
ul.caution_list_red li:before {
	content:"※";
	}

/* 1.5字下げ */
ul.free_list {
	margin-bottom:0px;
	}
ul.free_list li {
  	padding-left:1.5em;
  	text-indent:-1.5em;
  	line-height:1.5;
	margin-bottom:5px;
	}

/* 括弧リスト1桁のみ */
ul.brackets_list {
	margin-bottom:20px;
	padding-left:0.7em;
	counter-reset:number 0;
	}
ul.brackets_list li {
  	padding-left:2em;
  	text-indent:-2.7em;
	margin-bottom:5px;
	}
ul.brackets_list li:before {
	counter-increment:number 1;
	content:"（"counter(number)"）";
	}

/* 括弧リスト2桁 */
ul.brackets_list_1d {
	margin-bottom:0em;
	padding-left:0.7em;
	counter-reset:number 0;
	}
ul.brackets_list_1d li {
  	padding-left:2.5em;
  	text-indent:-2.6em;
	margin-bottom:0.5em;
	}
ul.brackets_list_1d li:before {
	counter-increment:number 1;
	content:"（"counter(number)"）";
	}
ul.brackets_list_2d {
	margin-bottom:20px;
	padding-left:0.7em;
	counter-reset:number 9;
	}
ul.brackets_list_2d li {
  	padding-left:2.5em;
  	text-indent:-3.2em;
	margin-bottom:0.5em;
	}
ul.brackets_list_2d li:before {
	counter-increment:number 1;
	content:"（"counter(number)"）";
	}

/* 括弧リスト右側のみ */
ul.bracket_list {
	margin-bottom:20px;
	padding-left:0.6em;
	counter-reset:number 0;
	}
ul.bracket_list li {
  	padding-left:1em;
  	text-indent:-1.6em;
	margin-bottom:5px;
	}
ul.bracket_list li:before {
	counter-increment:number 1;
	content:""counter(number)"）";
	}

/* PDFリンク */
a.pdf-link{
	display:inline-block;
	position:relative;
	padding-right:35px;
	transition:.25s ease-out
	}
a.pdf-link:before{
	content:"";
	position:absolute;
	top:5px;
	right:0px;
	display:block;
	width:32px;
	height:14px
	}
a.pdf-link:hover{
	opacity:0.8
	}
a.pdf-link:before{
	background:url(../images/ico/ico-pdf.svg) no-repeat
	}

/* Wordリンク */
a.doc-link{
	display:inline-block;
	position:relative;
	padding-right:35px;
	transition:.25s ease-out
	}
a.doc-link:before{
	content:"";
	position:absolute;
	top:5px;
	right:0px;
	display:block;
	width:32px;
	height:14px
	}
a.doc-link:hover{
	opacity:0.8
	}
a.doc-link:before{
	background:url(../images/ico/ico-word.svg) no-repeat
	}

/* Excelリンク */
a.xls-link{
	display:inline-block;
	position:relative;
	padding-right:35px;
	transition:.25s ease-out
	}
a.xls-link:before{
	content:"";
	position:absolute;
	top:5px;
	right:0px;
	display:block;
	width:32px;
	height:14px
	}
a.xls-link:hover{
	opacity:0.8
	}
a.xls-link:before{
	background:url(../images/ico/ico-excel.svg) no-repeat
	}

/* テーブルにPDF・Word・Excelリンクを付ける場合 */
a.tb:before{
	content:"";
	position:absolute;
	top:2px;
	right:0px;
	display:block;
	width:32px;
	height:14px
	}


/* コピスみよしの美術館 */
.artwork {
	position:relative;
	width:720px;
	margin:0 auto
	}
.artwork .ico {
	position:absolute;
	display:block;
	top:0;left:0;
	width:41px;
	height:41px
	}
.artwork .ico a {
	text-indent:-9999px;
	display:block;
	height:100%;
	background:url("../../../../src/images/artwork/mark.png") center center no-repeat
	}
.artwork .ico img {
	max-width:100%
	}
.artwork .ico-gakuya {
	position:absolute;
	display:block;
	top:0;left:0;
	width:97px;
	height:35px
	}
.artwork .ico-gakuya a {
	text-indent:-9999px;
	display:block;
	height:100%;
	background:url("../../../../src/images/artwork/mark_gakuya.png") center center no-repeat
	}
.artwork .ico-gakuya img {
	max-width:100%
	}

.artwork .ico_01 {top:207px;left:357px}
.artwork .ico_02 {top:238px;left:324px}
.artwork .ico_03 {top:163px;left:271px}
.artwork .ico_04 {top:133px;left:326px}
.artwork .ico_05 {top:251px;left:170px}
.artwork .ico_06 {top:315px;left:170px}
.artwork .ico_07 {top:325px;left:378px}
.artwork .ico_08 {top:569px;left:259px}
.artwork .ico_09 {top:518px;left:520px}


/* テーブル表示 */
@media screen and (max-width: 767px) {
	.gray{background-color:#f7f5f5 !important
	}

.page_module table td{overflow:hidden;*zoom:1}
.page_module .table_item .contentTd{float:left;width:100%}
.page_module .midashiTh{float:left}
.page_module .table_2 .contentTd{float:right;font-weight:bold}

.page_subscribe table td{overflow:hidden;*zoom:1}
.page_subscribe .table_item .contentTd{float:left;width:100%}
.page_subscribe .midashiTh{float:left}
.page_subscribe .table_2 .contentTd{float:right;font-weight:bold}

.page_vacant table td{overflow:hidden;*zoom:1}
.page_vacant .table_item .contentTd{float:left;width:100%}
.page_vacant .midashiTh{float:left}
.page_vacant .table_2 .contentTd{float:right;font-weight:bold}

.page_download table td{overflow:hidden;*zoom:1}
.page_download .table_item .contentTd{float:left;width:100%}
.page_download .midashiTh{float:left}
.page_download .table_2 .contentTd{float:right;font-weight:bold}

.page_faq table td{overflow:hidden;*zoom:1}
.page_faq .table_item .contentTd{float:left;width:100%}
.page_faq .midashiTh{float:left}
.page_faq .table_2 .contentTd{float:right;font-weight:bold}

.page_price .table_1 .contentTd{float:left;width:100%;font-weight:normal}

