
// 共通変数
// -------------------------------------

  // フォント
  // ---------------------------------
  $font_default : 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka, sans-serif;
  $font_lato : 'Lato', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka, sans-serif;
  $SourceHan_bold : "SourceHanSans-Bold", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka, sans-serif;
  $SourceHan_regular : "SourceHanSans-Regular", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka, sans-serif;
  $SourceHan_medium : "SourceHanSans-Medium", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka, sans-serif;

  //コンテンツ幅
  // ---------------------------------
  $side_width : 18%;
  $main_width : 80%;

  // 色
  // ---------------------------------
  $fb_color : #3a5a9d;
  $tw_color : #5faae1;
  $gp_color : #e8482d;
  $hb_color : #546ff0;
  $color_notes : #990000;

  // グレー
  $color_gray: #ccc;
  $color_gray_light : #f7f5f5;
  $color_gray_deep : #e6e6e6;

  // みどり系
  $color_green : #98cf36;
  $color_green_deep : #669900;
  $color_green_light : #fafff2;
  $color_fukamidori : #338321;

  // 青
  $color_blue : #334695;
  $color_skyblue : #008bcc;

  // むらさき
  $color_purple : #9f83d3;

  // ピンク
  $color_pink : #e87fac;
  $color_pink_middle : #fff6fb;
  $color_pink_light : #f1b8d5;

  // オレンジ
  $color_orange : #f56903;

  // きいろ
  $color_yellow : #f2c70b;
  $color_yellow_deep : #d69607;

  // 赤
  $color_red : #cc0000;
  $color_red_light : #fff2f2;
  $color_red_light_2 : #fffafa;

  // 栃木
  $color_tochigi : #4f93f0;
  $color_tochigi_light : #e3edfc;

  // 大平
  $color_ohira : #33b793;
  $color_ohira_light : #ddfbf4;

  // 藤岡
  $color_fujioka : #e87fac;
  $color_fujioka_light : #fff2f8;

  // 都賀
  $color_tsuga : #9f83d3;
  $color_tsuga_light : #f7f2ff;

  // 岩舟
  $color_iwafune : #fdd224;
  $color_iwafune_light : #fffae9;



// キーカラー（ピンク）
$keyColor : #e2728f;
$keyColor_dark : #d55a76;
$bg_color : #ffdbe4;
$keyColor_light : #ffedf1;

// タグ色
$color_green : #109216;

// 線
$border_color : #e5e5e5;
